Django==5.2.16
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
psycopg[binary]==3.3.4
Pillow==12.3.0
dj-database-url==3.1.2
django-cors-headers==4.9.0
python-dotenv==1.2.2
requests==2.34.2
gunicorn==26.0.0
djangorestframework-camel-case==1.4.2
